@import './base.css';
@import './bootstrap.css';


body{
  background-color: var(--background-dark);
  max-width: 1204px;
  margin: auto;
}

/* Hover */
@media (hover: hover) {
  li a:hover {
    background-color: #6466fa62;
    transition: 0.4s;
    
  }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
  /* Hover */
  @media (hover: hover) {
    li a:hover {
      background-color: #6365f14a;
      border-radius: 4px;
      transition: 0.4s;
      
    }
  } 
  
}

/* Bordes de cajas */
.borderColor{
  border: 2px solid var(--border-color) !important;
  border-radius: 10px !important;
}

/* Barras separadoras */
.separator{
  opacity: 0.1 !important;
}

/* Icono principal del navbar */
.mainIcon_1 {
  width: 30px;
  height: 40px;
  border: solid 5px var(--main-color);
  background-color: #dddddd;
  border-radius: 5px;
}

/* Button Volver atrás */
.goBackButton{
  color: var(--text-dark-1);
}

@media (max-width: 992px) {
  .goBackButton{
    border: 2px solid var(--text-dark-1);
    border-radius: 5px;
  }
}

.goBackButton:hover{
  color: var(--main-color);
}

/* Enfasis del h3 de las páginas */

h3 span{
  color: var(--main-color);
}

/* Iconos con link */
.iconLink:hover{
  color: var(--main-color) !important;
  cursor: pointer;
}


/* ALERTS */
.alertSuccessColors{
  background-color: rgb(137, 196, 137);
  color: rgb(13, 77, 13);
  border: 2px solid rgb(186, 248, 186);
  font-weight: 600;
}

/* Card classes */

.cardBox{
  display: flex;
  width: 48%;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  margin: 20px 0px;
  color: var(--text-dark-1);
  border: 2px solid var(--border-color);
  background-color: var(--card-color);
  /* box-shadow: 5px 5px 5px var(--main-color-light); */
}
@media (max-width: 992px) {
  .cardBox{
    width: 100%;
    height: 70px;
    margin: 5px;
    margin-top: 15px;
    
  }
}

.cardBox:hover{
  box-shadow: 0 5px 0 var(--main-hover);
  border-color: var(--main-color);
  transition-duration: 0.5s;
}


/* Input del buscador inputSearch */

.form-control.inputSearch {
  color: var(--text-dark-1);
  border: 2px solid var(--main-color);
  background-color: var(--background-dark);
}

.form-control.inputSearch::placeholder {
  color: var(--text-dark-1);
}

/* Asegúrate de que este estilo se aplique solo cuando tu input específico está enfocado */
.form-control.inputSearch:focus {
  border: 2px solid var(--main-color) !important;
  background-color: var(--background-dark) !important;
  color: var(--text-dark-1);
  box-shadow: 0px 0px 5px var(--secondary-color);
}

.form-control:focus{
  box-shadow: 0px 0px 10px var(--main-color);
}

/* Colores en username */
.username{
  color: var(--main-color);
}
a.username:hover{
  color: var(--main-bright) !important;
  background-color: var(--main-color);
  border-radius: 5px;
}